/* font-family: 'Bubblegum Sans', cursive; */

* {	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bubblegum Sans', cursive;
}

body {
	background-color: black;
}

/* --------------START PAGE---------------- */
.start-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.pokemon-logga{
	width: fit-content;
	height: 5em;
	margin: 2em 0 4em;
}
#myTeam-btn,
#choosePokemon-btn{
	border-radius: 10px;
	padding: 0.4em 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
#myTeam-btn:hover,
#choosePokemon-btn:hover{
	background-color: rgb(104, 58, 146);
	color: white;
	font-size: 15px;
}
.background-pokemon-pic{
	margin-top: 3em;
}

@media (min-width: 400px) {
	.background-pokemon-pic{
	margin: 10em 0 4em ;
	width:fit-content;
	height: 15em;
	}
	
#myTeam-btn,
#choosePokemon-btn{
	border-radius: 10px;
	padding: 0.4em 4.2em;
	font-weight: bold;
	font-family: 'Bubblegum Sans', cursive;
}
.pokemon-logga{
	width: fit-content;
	height: 7em;
	margin: 2em 0 7em;
}
.choose-header,
.myTeamHeader{
	position: fixed;
	top: 3em;
	z-index: 4;
	color: rgb(248, 246, 246);
}
.popOverlayWhite-choosePokemon,
.popOverlayWhite{
	flex-wrap: wrap;
	
}
.popOverlayWhite-choosePokemon,
.popOverlayWhite{
	
	margin-top: 16em;
}
}
@media (min-width: 396px){
	.choose-header,
	.myTeamHeader{
		visibility: hidden;
	}
}

@media (min-width: 746px){
	.choose-header,
	.myTeamHeader{
		visibility: visible;
	}

}

/* --------------MyTeamBtn---------------- */

.popOverlay-choosePokemon,
.PopOverlay-MyTeamBtn{
	background-color: rgba(0, 0, 0, 0.905);
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popOverlayWhite-choosePokemon,
.popOverlayWhite{
	background-color: #ffffffe8;
	color: rgb(0, 0, 0);
	width: 60%;
	height: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center; 
	flex-wrap: wrap;
	margin-top: 8em;
}

/* ------------------------------ Choose Team -------------- */
.myChooseteam-card{
	border: 2px solid rgba(0, 0, 0, 0.494);
	width: 5em;
	height: 6em;
	display: flex;
	flex-direction: column;
	margin: 0.15em;

}
.myChooseteam-card:first-child{
	margin-top: 13em;
}
.myChooseteam-image{
	width: 3em;
	height: 4em;
}

.input{
	border: 2px dotted black; 
	padding: 0.5em;
	margin: 2em 0em 1em 0em;
}