* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.start-page{
		display: flex;
	flex-direction: column;
}

.pokemon-logga{
	width: fit-content;
	height: 4em;
}
#myTeam-btn,
#choosePokemon-btn{
	border-radius: 30%;
	max-width: 15em;
	max-height: auto;
}