/* font-family: 'Bubblegum Sans', cursive; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bubblegum Sans', cursive;
}

body {
	background-color:rgba(0, 0, 0, 1);
}

/* --------------START PAGE---------------- */
.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.container {
	display: flex;
	flex-direction: column;
	width: 10em;
	height: 4em;
}

.pokemon-logga {
	width: fit-content;
	height: 5em;
	margin: 2em 0 4em;
}

#myTeam-btn,
#choosePokemon-btn {
	border-radius: 10px;
	padding: 0.4em 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#myTeam-btn:hover,
#choosePokemon-btn:hover {
	background-color: rgb(104, 58, 146);
	color: white;
	font-size: 15px;
}

.background-pokemon-pic {
	margin-top: 3em;
}

@media (min-width: 430px) {
	.background-pokemon-pic {
		margin: 10em 0 4em;
		width: fit-content;
		height: 15em;
	}

	.pokemon-logga {
		width: fit-content;
		height: 7em;
		margin: 2em 0 7em;
	}

	.popOverlayWhite-choosePokemon,
	.popOverlayWhite {
		position: fixed;
	}
}

.choose-header,
.myTeamHeader {
	/* visibility: hidden; */
	/* font-size: 1px; */
	position:absolute;
	top: -3.5em;
	left: 4em;

}

h2 {
	/* Add your styles here */
	height: 2px; 
	/* border: 5px solid rgb(255, 255, 255); */
	background-color: black;
	font-size: 2em;
	margin: 20px 0; 
	color: #ff00cc;
  }
  

@media (min-width: 600px) {
	.background-pokemon-pic {
		margin: 10em 0 4em;
		width: fit-content;
		height: 20em;
	}
	
}

@media (min-width: 350px) {
	h2 {
		/* Add your styles here */
		height: 2px; 
		/* border: 5px solid rgb(255, 255, 255); */
		background-color: black;
		font-size: 1em;
		margin: 10px 0; 
		color: #ff00cc;
	  }
	  
}

.popOverlay-choosePokemon{
	background-color: rgba(0, 0, 0, 0.905);
	min-height: 100vh;
	/* height: 100%; */
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4em 4em;

}
.popOverlayWhite-choosePokemon {
	position: relative;
	top: 0px;
	background-color: #ffffffe8;
	color: rgb(0, 0, 0);
	width: 80%;
	height: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 8em 4em 1em 4em;
}

.popOverlay-MyTeam {
	background-color: rgba(0, 0, 0, 0.905);
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4em 4em;
}


.popOverlayWhite {
	position: relative;
	top: 0px;
	background-color: #ffffffe8;
	color: rgb(0, 0, 0);
	width: 80%;
	height: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 8em 4em 1em 4em;
}

/* ------------------------------ Choose Team -------------- */


.pokemon:nth-child(-n+4) {
	border: 12px solid #be931d;
	display: flex;
	flex-direction: column;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 10px 2px 5px rgb(117, 114, 114) 
 }
 /* ---------------------Selected */
 
 .pokemon:nth-child(n+5) {

	border: 6px solid black;
	display: flex;
	flex-direction: column;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	opacity: 50%;
 }

.myChooseteam-card {
	border: 2px solid rgba(0, 0, 0, 0.494);
	display: flex;
	flex-direction: column;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input {
	border: 2px dotted black;
	padding: 0.5em;
	display: block;
}



.upBtn:hover,
.downBtn:hover,
.selectBtn:hover,
.removeBtn:hover,
.nameInput:hover,
.changeNameBtn:hover {
	background-image: linear-gradient(to right, #ff00cc 0%, #333399 51%, #ff00cc 100%);
	margin: 3px;
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;

}

.upBtn,
.downBtn,
.selectBtn,
.removeBtn,
.nameInput,
.changeNameBtn {
	cursor: pointer;
	/* background-color: rgb(123, 75, 167); */
	/* color: white; */
	background-image: linear-gradient(to right, #834d9b 0%, #d04ed6 51%, #834d9b 100%);
	transition: 0.2s;
	color: white;
	box-shadow: 0 0 20px #eee;
}

/* If you have more than 3 pokemon this will show  */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(6, 5, 5, 0.8);
	color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
}

ul{
	list-style-type: none ;
	
}

ul > li {
	font-size: 10px;
	margin-bottom: 5px;
}